<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Bonjour, <%=@event_admin.first_name%>! </h1>
  <p><%=@user.first_name @user.last_name %>vient de s'inscrire à ton évenement:<br>
   <%=@event.name%> qui aura lieu le: <%=@event.start_date%>.</p><br>
   <p>- L'équipe de EventBriteFake -</p>
  </body>
</html>