/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* body {
  background-color: #fff2b9 !important;
} */

.box {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  border-width: 6px;
  border-style: solid;
  border-radius: 16px;
  max-width: 650px;
}

.card {
  margin-bottom: 40px;
  /* background-color: #bce4e9 !important; */
}

.card li {
  /* background-color: #bce4e9 !important; */

}